Source: deeplx
Section: misc
Maintainer: Vincent Yang <me@missuo.me>
Build-Depends: debhelper (>= 9)
Standards-Version: 0.8.4

Package: deeplx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DeepL Free API
