on:
  push:
    tags:
      - 'v*'
  pull_request:

name: Build Release
jobs:
        
  Build:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: missuo
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v2
        with:
          go-version: "1.19"

      - run: bash .cross_compile.sh

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: false
          files: |
            dist/*
